@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CoffeeShopManagment.Models.CustomerModel
<div class="container">

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Customer</h5>

                        <!-- General Form Elements -->
                        <form asp-controller="Customer" asp-action="CustomerSave" method="post">
                            @Html.HiddenFor(x => x.CustomerID)
                            <div class="row mb-3">
                                <label asp-for="CustomerName" for="inputText" class="col-sm-2 col-form-label">Customer Name </label>
                                <div class="col-sm-10">
                                    <input asp-for="CustomerName" type="text" class="form-control">
                                    <span asp-validation-for="CustomerName" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="HomeAddress" for="inputPassword" class="col-sm-2 col-form-label">Home Address</label>
                                <div class="col-sm-10">
                                    <textarea asp-for="HomeAddress" class="form-control" style="height: 100px"></textarea>
                                    <span asp-validation-for="HomeAddress" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Email" for="inputText" class="col-sm-2 col-form-label">Email </label>
                                <div class="col-sm-10">
                                    <input asp-for="Email" type="email" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="MobileNo" for="inputText" class="col-sm-2 col-form-label">Mobile Number </label>
                                <div class="col-sm-10">
                                    <input asp-for="MobileNo" type="text" class="form-control">
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="GSTNo" for="inputText" class="col-sm-2 col-form-label">GST Number</label>
                                <div class="col-sm-10">
                                    <input asp-for="GSTNo" type="text" class="form-control">
                                    <span asp-validation-for="GSTNo" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="CityName" for="inputText" class="col-sm-2 col-form-label">City Name </label>
                                <div class="col-sm-10">
                                    <input asp-for="CityName" type="text" class="form-control">
                                    <span asp-validation-for="CityName" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="PinCode" for="inputText" class="col-sm-2 col-form-label">Pin Code </label>
                                <div class="col-sm-10">
                                    <input asp-for="PinCode" type="text" class="form-control">
                                    <span asp-validation-for="PinCode" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="NetAmount" for="inputText" class="col-sm-2 col-form-label">Net Amount </label>
                                <div class="col-sm-10">
                                    <input asp-for="NetAmount" type="number" class="form-control">
                                    <span asp-validation-for="NetAmount" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="UserID" class="col-sm-2 col-form-label">User Name</label>
                                <div class="col-sm-10">
                                    <select asp-for="UserID" class="form-control" asp-items="@(new SelectList(ViewBag.UserList, "UserID", "UserName"))">
                                        <option value="">Select User</option>
                                    </select>
                                    <span asp-validation-for="UserID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}